<!-- =-=-=-=-=-=-= HEADER =-=-=-=-=-=-= -->
<section class="top-bar color-scheme">
        <div class="container">
            <div class="left-text nav-left pull-left">
                <p><span>Opening Hours :</span> Monday to Saturday - 8am to 5pm</p>
            </div>
            <!-- /.left-text -->
            <ul class="nav-right pull-right list-unstyled">
             <li id="login"> <a href="/login"><i class="fa fa-lock"></i> Login </a></li>
             <li id="signup"> <a href="/signup"><i class="fa fa-user"></i> Sign Up </a></li>
             <li id="profile" class="dropdown nav-profile"> 
                <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">
                 <img class="img-circle resize" alt="" src="images/avatar.jpg">
                 <span class="hidden-xs small-padding"> <span>Umair</span> <i class="fa fa-caret-down"></i></span>
                </a>
                <ul class="dropdown-menu with-arrow pull-right">
                  <li> <a href="profile.html"> <i class="fa fa-user"></i> <span>My Profile</span> </a> </li>
                  <li> <a href="history.html"> <i class="fa fa-check"></i> <span>Tracking History</span> </a> </li>
                  <li> <a href="javascript:void(0)"> <i class="fa fa-lock"></i> <span>Payment Setting</span> </a> </li>
                  <li> <a href="/logout"> <i class="fa fa-sign-out"></i> <span>Log Out</span> </a> </li>
                </ul>
            </li>
        </ul>
        </div>
    </section>
    <header class="header-area">

        <!-- Logo Bar -->
        <div class="logo-bar">
            <div class="container clearfix">
                <!-- Logo -->
                <div class="logo">
                    <a href="/"><img src="images/logo.png" alt=""></a>
                </div>

                <!--Info Outer-->
                <div class="information-content">
                    <!--Info Box-->
                    <div class="info-box  hidden-sm">
                        <div class="icon"><span class="icon-envelope"></span></div>
                        <div class="text">EMAIL</div>
                        <a href="mailt:contact@trustcontract.kr">contact@trustcontract.kr</a> </div>
                    <!--Info Box-->
                    <div class="info-box">
                        <div class="icon"><span class="icon-phone"></span></div>
                        <div class="text">Call Now</div>
                        <a class="location" href="#">(+82) 10-3464-2624</a> </div>
                    <div class="info-box">
                        <div class="icon"><span class="icon-map-pin"></span></div>
                        <div class="text">Find Us</div>
                        <a class="location" href="#">Seoul, Korea of republic </a> </div>
                </div>
            </div>
        </div>
        <!-- Header Top End -->

        <!-- Menu Section -->
        <div class="navigation-2">
            <!-- navigation-start -->
            <nav class="navbar navbar-default ">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navigation" aria-expanded="false">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
         				</button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="main-navigation">
                        <ul class="nav navbar-nav">
                            <li class="dropdown active"> <a class="dropdown-toggle " data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Home <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="index.html">Home </a> </li>
                                    <li><a href="index-2.html">Home Page 2</a> </li>
                                    <li><a href="index-3.html">Home Page 3 (Video Bg)</a> </li>
									<li><a href="index-5.html">Home Order Tracking</a> </li>
									<li><a href="index-4.html">Home Order Tracking 2</a> </li>									
									<li><a href="one-page.html">One Page </a> </li>
                                </ul>
                            </li>
                            <li class="dropdown"><a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">About Company <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="about.html">About </a> </li>
                                    <li><a href="about-1.html">About 2</a> </li>
                                </ul>
                            </li>
                            <li class="dropdown "> <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Our Service <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="services.html">Services</a> </li>
                                    <li><a href="services-2.html">Services 2</a> </li>
                                    <li><a href="services-3.html">Services 3</a> </li>
                                    <li><a href="services-4.html">Services 4 (Sticky Bar)</a> </li>
                                    <li><a href="services-details.html">Services Detail</a> </li>
                                </ul>
                            </li>
                            <li class="hidden-sm"><a href="gallery.html ">Gallery</a></li>
                            <li class="dropdown  hidden-sm"><a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Blog <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="blog.html">Grid View </a> </li>
                                    <li><a href="blog-1.html">Right Sidebar With 2 Column</a> </li>
                                    <li><a href="blog-2.html">Left Sidebar With 2 Column</a> </li>
                                    <li><a href="blog-3.html">Masonry Grid</a> </li>
                                    <li><a href="blog-detail.html">Post With Slider</a> </li>
                                    <li><a href="blog-detail-2.html">Post With Static Bg</a> </li>
                                    <li><a href="blog-detail-3.html">Post Full Width</a> </li>
                                </ul>
                            </li>
                            <li class="dropdown"> <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Pages <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="404.html">Error Page</a> </li>
                                    <li><a href="team.html">Our Team </a> </li>
                                    <li><a href="icons.html">Icons</a> </li>
                                    <li><a href="flat-icons.html">Flat Icons</a> </li>
                                    <li><a href="gallery.html ">Gallery</a></li>
                                    <li><a href="login.html">Sign In</a></li>
                                    <li><a href="sign-up.html">Sign Up</a></li>
                                    <li><a href="profile.html">Profile</a></li>
                                </ul>
                            </li>
                             <li class="dropdown"> <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-animations="fadeInUp">Cargo Tracking <span class="fa fa-angle-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/Standard-fare">Standard fare</a> </li>
                                    <li><a href="index-4.html">Tracking Landing </a> </li>
                                    <li><a href="/history">Tracking Order History</a> </li>
                                    <li><a href="/online-booking">Cargo Booking</a> </li>
                                </ul>
                            </li>
                        </ul>
                        <a  href="/online-booking"  class="btn btn-primary pull-right">Cargo Booking</a> </div>
                    <!-- /.navbar-collapse -->

                </div>
                <!-- /.container-end -->
            </nav>
        </div>
        <!-- /.navigation-end -->
        <!-- Menu  End -->
    </header>
    <!-- =-=-=-=-=-=-= HEADER END =-=-=-=-=-=-= -->
